extends layout

block content
  h1 Board Games Home

  if trendingGames && trendingGames.length
    h2 Trending Board Games
    ul
      each game in trendingGames
        li
          a(href=`/games/${game.Id_game}`) #{game.Name_game}
  
  if favoriteGames && favoriteGames.length
    h2 Most Favorited Games
    table
      thead
        tr
          th Rank
          th Game
          th Favorites
      tbody
        each game in favoriteGames
          tr
            td #{game.RankPosition}
            td 
              a(href=`/games/${game.Id_game}`) #{game.Name_game}
            td #{game.FavoriteCount}

  if searchResults
    h2 Search Results : #{searchResults.length} results
    ul
      each game in searchResults
        li
          a(href=`/games/${game.Id_game}`) #{game.Name_game}
  
  
  if user && user.role === 'admin'
    a(href="/games/add") Add a Game